<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../stylesheet.css">
    <title>Document</title>
</head>

<body>
    <!-- header -->
    <div class="header">
        <div class="logo">
            <a href="../index.html"> <img src="../nature.jpg" alt="nature" height="30" width="30">
                <h3>
                    DRVN
                </h3>
            </a>
        </div>
        <div class="navigation">
            <ul>
                <li><a href="project.html">Project</a></li>
                <li><a href="process.html">Process</a></li>
                <li><a href="technologies.html">Technologies</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.httml">Contact</a></li>
            </ul>
        </div>
    </div>
    <!-- header end -->
    <div class="subcontainer">
        <div class="projecttitle">
            <h3> DRVN Technology</h3>
        </div>
        <div>
            <p class="aboutparagraph">
                DRVN is software development platform where we <br>
                develop mobile application web application and desktop software
            </p>
        </div>

        <div class="aboutsubheading">
            While developing a product we mainly focuse on
        </div>

        <div class="aboutfocuse">
            <div class="aboutfocuselist">

                <div class="abouttitle">
                    <img src="../assets/icons/listicon.svg" alt="list-style" height="15" width="15">
                    <div class="aboutsub">
                        User requriments
                    </div>
                </div>
                <div class="abouttitle">
                    <img src="../assets/icons/listicon.svg" alt="list-style" height="15" width="15">
                    <div class="aboutsub">
                        Product reliability
                    </div>
                </div>
                <div class="abouttitle">
                    <img src="../assets/icons/listicon.svg" alt="list-style" height="15" width="15">
                    <div class="aboutsub">
                        User friendly
                    </div>
                </div>
                <div class="abouttitle">
                    <img src="../assets/icons/listicon.svg" alt="list-style" height="15" width="15">
                    <div class="aboutsub">
                        On time deployment
                    </div>
                </div>

            </div>
            <div class="aboutimg">
                <img src="../assets/images/mainlyfocuse.svg" alt="mainlyfocuse" height="200">

            </div>

        </div>
        <div class="ourteam">
            <h3>
                OUR TEAM
            </h3>

        </div>
        <div class="teammemberfirst">
            <div class="teammember">
                <div class="profileimg">
                    <img src="../assets/images/dineshprofile.jpg" alt="dineshprofile" height="150" width="150">
                </div>
                <div class="profilename">
                    Dinesh Manohare

                </div>
                <div class="profilework">
                    (Back-end Devloper)
                </div>
                <div class="teamsocial">
                    <div class="footersocialimg">
                        <a href=""><img src="../assets/images/linkedin.svg" alt="linkedlin"></a>
                    </div>
                    <div class="footersocialimg">
                        <a href=""><img src="../assets/images/github.svg" alt="github"></a>
                    </div>
                    <div class="footersocialimg">
                        <a href=""><img src="../assets/images/instagram.svg" alt="instagram"></a>
                    </div>
                    <div class="footersocialimg">
                        <a href=""><img src="../assets/images/facebook.svg" alt="facebook"></a>
                    </div>
                </div>

            </div>
            <div class="teammember">
                <div class="profileimg">
                    <img src="../assets/images/dineshprofile.jpg" alt="dineshprofile" height="150" width="150">
                </div>
                <div class="profilename">
                    Dinesh Manohare

                </div>
                <div class="profilework">
                    (Back-end Devloper)
                </div>
                <div class="teamsocial">
                    <div class="footersocialimg">
                        <a href=""><img src="../assets/images/linkedin.svg" alt="linkedlin"></a>
                    </div>
                    <div class="footersocialimg">
                        <a href=""><img src="../assets/images/github.svg" alt="github"></a>
                    </div>
                    <div class="footersocialimg">
                        <a href=""><img src="../assets/images/instagram.svg" alt="instagram"></a>
                    </div>
                    <div class="footersocialimg">
                        <a href=""><img src="../assets/images/facebook.svg" alt="facebook"></a>
                    </div>
                </div>

            </div>

        </div>

        <div class="teammemberfirst">
            <div class="teammember">
                <div class="profileimg">
                    <img src="../assets/images/dineshprofile.jpg" alt="dineshprofile" height="150" width="150">
                </div>
                <div class="profilename">
                    Dinesh Manohare

                </div>
                <div class="profilework">
                    (Back-end Devloper)
                </div>
                <div class="teamsocial">
                    <div class="footersocialimg">
                        <a href=""><img src="../assets/images/linkedin.svg" alt="linkedlin"></a>
                    </div>
                    <div class="footersocialimg">
                        <a href=""><img src="../assets/images/github.svg" alt="github"></a>
                    </div>
                    <div class="footersocialimg">
                        <a href=""><img src="../assets/images/instagram.svg" alt="instagram"></a>
                    </div>
                    <div class="footersocialimg">
                        <a href=""><img src="../assets/images/facebook.svg" alt="facebook"></a>
                    </div>
                </div>

            </div>
            <div class="teammember">
                <div class="profileimg">
                    <img src="../assets/images/dineshprofile.jpg" alt="dineshprofile" height="150" width="150">
                </div>
                <div class="profilename">
                    Dinesh Manohare

                </div>
                <div class="profilework">
                    (Back-end Devloper)
                </div>
                <div class="teamsocial">
                    <div class="footersocialimg">
                        <a href=""><img src="../assets/images/linkedin.svg" alt="linkedlin"></a>
                    </div>
                    <div class="footersocialimg">
                        <a href=""><img src="../assets/images/github.svg" alt="github"></a>
                    </div>
                    <div class="footersocialimg">
                        <a href=""><img src="../assets/images/instagram.svg" alt="instagram"></a>
                    </div>
                    <div class="footersocialimg">
                        <a href=""><img src="../assets/images/facebook.svg" alt="facebook"></a>
                    </div>
                </div>

            </div>

        </div>

        <div class="teammemberfirst">
            <div class="teammember">
                <div class="profileimg">
                    <img src="../assets/images/dineshprofile.jpg" alt="dineshprofile" height="150" width="150">
                </div>
                <div class="profilename">
                    Dinesh Manohare

                </div>
                <div class="profilework">
                    (Back-end Devloper)
                </div>
                <div class="teamsocial">
                    <div class="footersocialimg">
                        <a href=""><img src="../assets/images/linkedin.svg" alt="linkedlin"></a>
                    </div>
                    <div class="footersocialimg">
                        <a href=""><img src="../assets/images/github.svg" alt="github"></a>
                    </div>
                    <div class="footersocialimg">
                        <a href=""><img src="../assets/images/instagram.svg" alt="instagram"></a>
                    </div>
                    <div class="footersocialimg">
                        <a href=""><img src="../assets/images/facebook.svg" alt="facebook"></a>
                    </div>
                </div>

            </div>
            <div class="teammember">
                <div class="profileimg">
                    <img src="../assets/images/dineshprofile.jpg" alt="dineshprofile" height="150" width="150">
                </div>
                <div class="profilename">
                    Dinesh Manohare

                </div>
                <div class="profilework">
                    (Back-end Devloper)
                </div>
                <div class="teamsocial">
                    <div class="footersocialimg">
                        <a href=""><img src="../assets/images/linkedin.svg" alt="linkedlin"></a>
                    </div>
                    <div class="footersocialimg">
                        <a href=""><img src="../assets/images/github.svg" alt="github"></a>
                    </div>
                    <div class="footersocialimg">
                        <a href=""><img src="../assets/images/instagram.svg" alt="instagram"></a>
                    </div>
                    <div class="footersocialimg">
                        <a href=""><img src="../assets/images/facebook.svg" alt="facebook"></a>
                    </div>
                </div>

            </div>

        </div>





    </div>




</body>

</html>