<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../stylesheet.css">
    <title>Document</title>
</head>

<body>
    <!-- header -->
    <div class="header">
        <div class="logo">
            <a href="../index.html"> <img src="../nature.jpg" alt="nature" height="30" width="30">
                <h3>
                    DRVN
                </h3>
            </a>
        </div>
        <div class="navigation">
            <ul>
                <li><a href="project.html">Project</a></li>
                <li><a href="process.html">Process</a></li>
                <li><a href="technologies.html">Technologies</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.httml">Contact</a></li>
            </ul>
        </div>
    </div>
    <!-- header end -->

    <div class="subcontainer">
        <div class="projecttitle">
            <h3>Technology</h3>
        </div>
        <!-- front end technology start -->
        <div class="frontendtechnology">
            <div class="subtitlefrontend">
                Front-end Frameworks
            </div>
            <div class="frontendmain">
                <div class="frontend">
                    <div class="frontendtitle">
                        <img src="../assets/icons/listicon.svg" alt="list-style" height="12" width="12">
                        <div class="frontendsub">
                            HTML
                        </div>
                    </div>
                    <div class="frontendtitle">
                        <img src="../assets/icons/listicon.svg" alt="list-style" height="12" width="12">
                        <div class="frontendsub">
                            CSS
                        </div>
                    </div>
                    <div class="frontendtitle">
                        <img src="../assets/icons/listicon.svg" alt="list-style" height="12" width="12">
                        <div class="frontendsub">
                            BootStrap
                        </div>
                    </div>
                    <div class="frontendtitle">
                        <img src="../assets/icons/listicon.svg" alt="list-style" height="12" width="12">
                        <div class="frontendsub">
                            Tailwind CSS
                        </div>
                    </div>
                    <div class="frontendtitle">
                        <img src="../assets/icons/listicon.svg" alt="list-style" height="12" width="12">
                        <div class="frontendsub">
                            Angular
                        </div>
                    </div>
                    <div class="frontendtitle">
                        <img src="../assets/icons/listicon.svg" alt="list-style" height="12" width="12">
                        <div class="frontendsub">
                            Vue.Js
                        </div>
                    </div>

                </div>
                <div class="frontendimg">
                    <img src="../assets/images/frontend.svg" alt="frontend" height="200" width="400">
                </div>

            </div>

        </div>
        <!-- front-end and technology end -->

        <!-- back-end start -->
        <div class="backend">

            <div class="backendtitle">
                Back-end Frameworks
            </div>
            <div class="backendframe">
                <div class="backendimg">
                    <img src="../assets/images/backend.svg" alt="back-end" height="200" width="400">
                </div>

                <div class="backendlist">
                    <div class="frontendtitle">
                        <img src="../assets/icons/listicon.svg" alt="list-style" height="12" width="12">
                        <div class="frontendsub">
                            Laravel
                        </div>
                    </div>

                    <div class="frontendtitle">
                        <img src="../assets/icons/listicon.svg" alt="list-style" height="12" width="12">
                        <div class="frontendsub">
                            Spring
                        </div>
                    </div>
                    <div class="frontendtitle">
                        <img src="../assets/icons/listicon.svg" alt="list-style" height="12" width="12">
                        <div class="frontendsub">
                            Django
                        </div>
                    </div>
                    <div class="frontendtitle">
                        <img src="../assets/icons/listicon.svg" alt="list-style" height="12" width="12">
                        <div class="frontendsub">
                            Entity
                        </div>
                    </div>
                    <div class="frontendtitle">
                        <img src="../assets/icons/listicon.svg" alt="list-style" height="12" width="12">
                        <div class="frontendsub">
                            Node.js
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <!-- back-end end -->

        <!-- design tool start -->
        <div class="designtool">
            <div class="subtitlefrontend">
                Design Tools
            </div>
            <div class="frontendmain">
                <div class="design">
                    <div class="frontendtitle">
                        <img src="../assets/icons/listicon.svg" alt="list-style" height="12" width="12">
                        <div class="frontendsub">
                            Figma
                        </div>
                    </div>
                    <div class="frontendtitle">
                        <img src="../assets/icons/listicon.svg" alt="list-style" height="12" width="12">
                        <div class="frontendsub">
                            Adobe Illustrator
                        </div>
                    </div>

                </div>
                <div class="frontendimg">
                    <img src="../assets/images/designtool.svg" alt="frontend" width="280">
                </div>

            </div>

        </div>
        <!-- design tool end -->


    </div>
    <!-- footer start -->
    <div class="endborder">

    </div>
    <div class="footer">

        <div class="footersocialimgmain">
            <div class="footersocialimg">
                <a href=""><img src="../assets/images/linkedin.svg" alt="linkedlin"></a>
            </div>
            <div class="footersocialimg">
                <a href=""><img src="../assets/images/github.svg" alt="github"></a>
            </div>
            <div class="footersocialimg">
                <a href=""><img src="../assets/images/dribbble.svg" alt="dribbble"></a>
            </div>
            <div class="footersocialimg">
                <a href=""><img src="../assets/images/instagram.svg" alt="instagram"></a>
            </div>
        </div>

        <div class="copyright">
            &copy; DRVN Technologies. All rights reserved
        </div>

        <div class="privacy">
            <a href="">
                <p>Privacy</p>
            </a>
            <a href="">
                <p>Terms</p>
            </a>
        </div>

    </div>


    <!-- footer end -->


</body>

</html>