<div class="header">
    <div class="logo">
        <a href=""> <img src="nature.jpg" alt="nature" height="30" width="30">
            <h3>
                DRVN
            </h3>
        </a>
    </div>
    <div class="navigation">
        <ul>
            <li><a href="project.html">Project</a></li>
            <li><a href="process.html">Process</a></li>
            <li><a href="technologies.html">Technologies</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="contact.httml">Contact</a></li>
        </ul>
    </div>
</div>